@page
@model Application.Pages.Movies.IndexModel

@{
    ViewData["Title"] = "Filmes";
}

<h5>Filmes</h5>

<p>
    <a asp-page="Create" class="btn btn-outline-primary">Cadastrar novo filme</a>
</p>

<form method="get">
    <div class="row">
        <div class="col">
            <label class="form-label">Título</label>
            <input type="text" class="form-control" asp-for="MovieTitle" />
        </div>        

        <div class="col">
            <label class="form-label">Gênero</label>
            <select asp-for="MovieGenre" asp-items="Model.Genres" class="form-select">
                <option value="">Todos</option>
            </select>
        </div>

        <div class="col-md-12 mt-3">
            <input type="submit" value="Pesquisar" class="btn btn-outline-success" />
        </div>        
    </div>
</form>

<table class="table table-hover rounded mt-2">
    <thead>
        <tr class="text-center">
            <th><label class="form-label" asp-for="Movies[0].Title"></label></th>
            <th><label class="form-label" asp-for="Movies[0].ReleaseDate"></label></th>
            <th><label class="form-label" asp-for="Movies[0].Genre"></label></th>
            <th><label class="form-label" asp-for="Movies[0].Price"></label></th>
            <th><label class="form-label" asp-for="Movies[0].Rating"></label></th>
            <th><label class="form-label">Ações</label></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Movies)
        {
            <tr class="text-center">
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.ReleaseDate)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.Rating)</td>
                <td class="d-flex justify-content-between">
                    <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-secondary">Editar</a>
                    <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-info">Detalhes</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
